# Main GRUB config

# Set the prefix back to the correct value after we're done with memdisk
set prefix=($root)/coreos/grub

# Load any and all video drivers.
# Required under UEFI to boot Linux with a working console.
insmod all_video

# Default menuentry id and boot timeout
set default="coreos"
set timeout=1

# Default kernel args for root filesystem, console, and CoreOS.
set linux_root="root=LABEL=ROOT"
set linux_console=""
set first_boot=""
set oem_id=""

# Anything else the OEM adds should use this variable.
set linux_append=""

set secure_boot="0"

if [ "$grub_platform" = "efi" ]; then
   getenv -e SecureBoot -g 8be4df61-93ca-11d2-aa0d-00e098032b8c -b sb
   getenv -e SetupMode -g 8be4df61-93ca-11d2-aa0d-00e098032b8c -b setupmode
   if [ "$sb" = "01" -a "$setupmode" = "00" ]; then
      set secure_boot="1"
   fi
fi

if [ "$net_default_server" != "" ]; then
   smbios --type 1 --get-uuid 8 --set uuid
   smbios --type 1 --get-string 7 --set serial
   set mac=$net_default_mac
   # Re-DHCP as grub to get the API endpoint
   net_bootp $net_default_interface
   # This is awful, but grub doesn't support a nice way to do this
   for i in "$net_efinet0_dhcp_boot_file" "$net_efinet1_dhcp_boot_file" "$net_efinet2_dhcp_boot_file" "$net_efinet3_dhcp_boot_file" "$net_efinet4_dhcp_boot_file" "$net_efinet5_dhcp_boot_file" "$net_efinet6_dhcp_boot_file" "$net_efinet7_dhcp_boot_file" "$net_efinet8_dhcp_boot_file" "$net_efinet9_dhcp_boot_file"; do
      if [ "$i" != "" ]; then
          set endpoint="$i"
          break
      fi
   done
   if [ "$endpoint" != "" ]; then
      set url="${endpoint}?uuid=$uuid&serial=$serial&mac=$mac"
      configfile $url
   fi
fi

# Search for the OEM partition, load additional configuration if found.
if [ "$secure_boot" = "0" ]; then
   search --no-floppy --set oem --part-label OEM --hint "$root"
   if [ -n "$oem" -a -f "($oem)/grub.cfg" ]; then
       source "($oem)/grub.cfg"
   fi
fi

# Determine if this is a first boot.
search --no-floppy --set first_boot \
       --disk-uuid 00000000-0000-0000-0000-000000000001
if [ -n "$first_boot" ]; then
    # Note we explicitly request the disk-guid randomization, first_boot only triggers ignition.
    set first_boot="coreos.first_boot=1 coreos.randomize_disk_guid=00000000-0000-0000-0000-000000000001"
fi

if [ -n "$oem_id" ]; then
    set oem_id="coreos.oem.id=$oem_id"
fi

# If no specific console has been set by the OEM then select based on
# platform, most systems use vga text as primary and ttyS0 as secondary.
if [ -z "$linux_console" ]; then
    if [ "$grub_platform" = pc ]; then
        set linux_console="console=ttyS0,115200n8 console=tty0"
        serial com0 --speed=115200 --word=8 --parity=no
        terminal_input console serial_com0
        terminal_output console serial_com0
    elif [ "$grub_platform" = efi ]; then
        if [ "$grub_cpu" = arm64 ]; then
            set linux_console="console=ttyAMA0,115200n8"
        else
            set linux_console="console=ttyS0,115200n8 console=tty0"
       fi
    elif [ "$grub_platform" = xen ]; then
        set linux_console="console=hvc0"
    fi
fi

set suf=""

# UEFI uses linuxefi/initrdefi instead of linux/initrd except for arm64
if [ "$grub_platform" = efi ]; then
  if [ "$grub_cpu" != arm64 ]; then
    set suf="efi"
  fi
fi

# Assemble the options applicable to all the kernels below
set linux_cmdline="rootflags=rw mount.usrflags=ro consoleblank=0 $linux_root $linux_console $first_boot $oem_id $linux_append"

menuentry "CoreOS default" --id=coreos {
    gptprio.next -d usr -u usr_uuid
    if [ "$usr_uuid" = "7130c94a-213a-4e5a-8e26-6cce9662f132" ]; then
       linux$suf /coreos/vmlinuz-a @@MOUNTUSR@@=PARTUUID=$usr_uuid $linux_cmdline
    else
       linux$suf /coreos/vmlinuz-b @@MOUNTUSR@@=PARTUUID=$usr_uuid $linux_cmdline
    fi
}

menuentry "CoreOS USR-A" --id=coreos-a {
   linux$suf /coreos/vmlinuz-a @@MOUNTUSR@@=PARTLABEL=USR-A $linux_cmdline
}

menuentry "CoreOS USR-B" --id=coreos-b {
   linux$suf /coreos/vmlinuz-b @@MOUNTUSR@@=PARTLABEL=USR-B $linux_cmdline
}
